{% extends 'base.html.twig' %}

{% block body %}
    <div class="userinfo">
    {% if username %}
            <img src="{{ avatar }}"/>
            <div style="flex-grow: 10;">
                Username: <strong>{{ username }}</strong><br/>
                Guilds: <strong>{{ guilds|join(', ') }}</strong>
            </div>
    {% endif %}
    <div id="login-link">{% include 'default/login.html.twig' %}</div>
    </div>
{% endblock %}
